<footer>
  <div class="footer-info">
    <div class="f-info-social">
      <a href="https://www.facebook.com/kaushalkant.mishra.7"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://twitter.com/KaushalkantMis1"><i class="fa-brands fa-square-x-twitter"></i></a>
      <a href="https://www.linkedin.com/in/kaushal-kant-mishra"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>

      <a href="/terms">Terms</a>
    </div>
    <div class="f-info-links">
      Developed by &nbsp; <i class="fa-solid fa-heart"></i> :<a href="https://kaushal-portfolio-lime.vercel.app/"
        >&nbsp; Kaushal kant mishra</a
      >
    </div>
  </div>
</footer>
